/* Link to add Pangram Pangram fonts: https://pangrampangram.com/pages/faq */

/* @font-face {
    font-family: 'PPEditorialNew';
    src: url('/fonts/PPEditorialNew-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PPNeueMontreal';
    src: url('/fonts/PPNeueMontreal-Book.otf') format('opentype'); 
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'PP Editorial New';
    src: url('/fonts-ttf/PPEditorialNew-Regular.ttf') format('truetype');
    font-weight: 100;
}

@font-face {
    font-family: 'PP Neue Montreal';
    src: url('/fonts-ttf/PPNeueMontreal-Book.ttf') format('truetype');
    font-weight: 100;
}