body {
    background-color: #FBF9F6;
}

div {
    display: block;
}

section {
    margin: 1rem 18% 4rem;
}

a {
    font-family: 'PP Neue Montreal', sans-serif;
}

/* Style for in-text link in the style guide */

a.link {
    color: #EFA3BB;
}

a.link:hover {
    transition: ease-in-out 0.5s;
    color: #D75A82;
}

a.active-link {
    color: #D75A82;
    margin-left: 2vh;
}

/* For headers, subheaders, paragraphs */

h1 {
    color: #313130;
    font-size: 5rem;
    font-family: 'PP Editorial New', sans-serif;
}

h1.title {
    font-size: 4rem;
    margin-top: 30vh;
    font-family: 'PP Editorial New', 'sans-serif';
    font-style: normal;
    text-align: center;
    color: #313130;
}

/* Understanding font-weight: https://www.udacity.com/blog/2021/01/html-css-font-weight.html#:~:text=What%20is%20Font%20Weight%3F,light%20your%20text%20will%20appear. */

h2.intro {
    font-size: 3.5rem;
    font-family: 'PP Editorial New', sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    margin-left: 18%;
    margin-right: 18%;
    color: #233E82;
}

h2 {
    color: #313130;
    font-size: 2rem;
    font-family: 'PP Editorial New', sans-serif;
    font-style: italic;
    max-width: 80rem;
}

h3 {
    color: #313130;
    font-size: 1.5rem;
    font-family: 'PP Neue Montreal', sans-serif;
    font-style: normal;
    max-width: 40rem;
}

h3.project {
    color: #313130;
    margin-top: 40vh;
}

h4 {
    color: #313130;
    font-size: 1.25rem;
    font-family: 'PP Neue Montreal', sans-serif;
    font-style: normal;
    max-width: 40rem;
}

p.bio {
    color: #313130;
    margin-top: 40vh;
}

p {
    color: #313130;
    font-size: 1rem;
    font-family: 'PP Neue Montreal', sans-serif;
    font-style: normal;
    /* max-width: 40rem; */
    line-height: 2rem;
}

li {
    color: #313130;
    font-size: 1rem;
    font-family: 'PP Neue Montreal', sans-serif;
    font-style: normal;
    max-width: 40rem;
    line-height: 2rem;
}

/* Input fields */

input[type=text] {
    margin-left: 1vh;
    border: 1px solid #313130;

    padding: 0.25rem;

    border-radius: 18px;

    color: #313130;
    text-indent: 1.4vh;
    text-transform: capitalize;
    font-family: 'PP Neue Montreal', sans-serif;
    font-style: thin;
}

.first-name {
    font-family: 'PP Neue Montreal', sans-serif;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #233E82;
}

.footer-text {
    text-align: center;
    color: #FBF9F6;
}