body {
    background-color: #FBF9F6;
}

section {
    margin: 1rem 10% 4rem;
}

h1.title {
    font-size: 5rem;
    font-family: 'PP Editorial New', 'sans-serif';
    font-style: normal;
}

h2.intro {
    font-size: 4rem;
    font-family: 'PP Editorial New', sans-serif;
    font-style: normal;
    max-width: 80rem;
    color: #233E82;
}

h2 {
    font-size: 2.5rem;
    font-family: 'PP Editorial New', sans-serif;
    font-style: normal;
    max-width: 80rem;
}

h3 {
    font-size: 1.5rem;
    font-family: 'PP Editorial New', sans-serif;
    font-style: normal;
    max-width: 40rem;
}

p {
    font-size: 1rem;
    font-family: 'PP Neue Montreal', sans-serif;
    font-style: normal;
    max-width: 40rem;
    line-height: 2rem;
}

