body {
    background-color: #FBF9F6;
}

section {
    margin: 1rem 18% 4rem;
}

h1.title {
    font-size: 4rem;
    margin-top: 30vh;
    font-family: 'PP Editorial New', 'sans-serif';
    font-style: normal;
    text-align: center;
    color: #313130;
}

/* Understanding font-weight: https://www.udacity.com/blog/2021/01/html-css-font-weight.html#:~:text=What%20is%20Font%20Weight%3F,light%20your%20text%20will%20appear. */

h2.intro {
    font-size: 3.5rem;
    font-family: 'PP Editorial New', sans-serif;
    font-style: normal;
    text-align: center;
    font-weight: 400;
    color: #233E82;
}

h2 {
    font-size: 2rem;
    font-family: 'PP Editorial New', sans-serif;
    font-style: normal;
    max-width: 80rem;
}

h3 {
    font-size: 1.5rem;
    font-family: 'PP Editorial New', sans-serif;
    font-style: normal;
    max-width: 40rem;
}

p.bio {
    margin-top: 50vh;
}

p {
    font-size: 1rem;
    font-family: 'PP Neue Montreal', sans-serif;
    font-style: normal;
    max-width: 40rem;
    line-height: 2rem;
}

h3.project {
    margin-top: 50vh;
}

