nav {
    background-color: #233E82;
    padding: 36px;
}

.nav-right {
    float: right;
}

.nav-right > a {
    position: relative;
    padding: 24px;
    font-family: 'PP Neue Montreal', sans-serif;
    color: white;
    text-decoration: none;
}